<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfilPhoto.jpg" class="img-fluid" id="fotoperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Castellano Francisco</p>
        <p>Full Stack Developer Junior</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p id="acerca">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, error omnis voluptatum, repellendus commodi nihil perspiciatis maiores reiciendis quis voluptatem laudantium harum aperiam quasi quam, consequatur magni quas ad quod?
            </p>
        </span>
    </div>
</div>